/* -------------------------------------
Images
--------------------------------------*/

[class^="img--"] {
	margin-bottom: em(24px);
	max-width: 100%;
	height: auto;
}

.img {

	@include m(logo) {
		margin-top: em(40px);
		display: block;
		@extend .centered;
		margin-bottom: 0;
	}

	@include m(frame) {
		border: 1px solid palette(grey, x-light);
		padding: em(12px);
		display: block;
		@extend .centered;
		margin-bottom: 0;
		@include mq(medium) {
			display: initial;
		}
	}

	@include m(avatar) {
		display: block;
		border-radius: $br--round;
		@extend .centered;
		margin-top: 12px;
	}
}