/* -------------------------------------
Navigation
--------------------------------------*/

/*Nav Item*/

.nav {
	margin-bottom: em(20px);
	margin-right: 0;
	text-align: center;
	@include mq(medium) {
	  @include flexy($dir: row, $just: flex-end);
		margin-right: 20px;
		margin-top: em(60px);
	}
  
	@include e(item) {
		@extend %nav-item-horz;
		a {
			@extend %nav-item-link;
			color: palette(grey);
			&:hover {
				background-color: $aquamarine-green;
				border-radius: 5px;
				color: $white;
			}
		}
	}
}
